Source: storiqone
Section: utils
Priority: extra
Maintainer: guillaume clercin <gclercin@intellique.com>
Build-Depends: cscope, debhelper (>= 9.0.0), exuberant-ctags, gettext, git, libexpat1-dev, libmagic-dev, libpq-dev, libssl-dev, nettle-dev, pkg-config, uuid-dev, make (>= 4.0)
Standards-Version: 3.9.4
Homepage: http://www.intellique.com
#Vcs-Git: git://git.debian.org/collab-maint/stone.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/stone.git;a=summary


Package: libstoriqone-1.3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libc6 (>= 2.19)
Description: Storiq one libraries (libs)
 .
 This package contains common libraries

Package: libstoriqone-1.3-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Storiq one development headers (dev)
 .
 This package contains include files

Package: storiqone-daemon
Section: utils
Architecture: any
Depends: storiqone-plugin-db, ${shlibs:Depends}, ${misc:Depends}
Recommends: gdb (>= 7.7.1)
Description: Storiq one daemon
 .
 This package contains daemon

Package: storiqone-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, storiqone-daemon (= ${binary:Version})
Description: StoriqOne daemon (debug files)
 .
 This package contains the debugging symbols.

Package: storiqone-plugin-db-postgresql
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dbconfig-common, postgresql-client
Recommends: postgresql (>= 9.4)
Provides: storiqone-plugin-db
Enhances: storiqone-daemon
Description: Storiq one posgresql connector (db-plugin)
 .
 Contains plugin to connect to postresql database

Package: storiqone-scripts
Section: utils
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libsys-cpu-perl, libmediainfo-perl, mediainfo
Description: Storiq one scripts (log-plugin)
 .
 Contains scripts that the daemon will run

