#!/bin/bash

set -e

action=$1
version=$2

# Source debconf library
. /usr/share/debconf/confmodule

dbc_first_version="1.2.6"

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
    . /usr/share/dbconfig-common/dpkg/config.pgsql

    # hints for dbconfig
    dbc_dbname="storiqone"
    dbc_dbuser="storiq"
    dbc_dbpass="spider77"

    dbc_go storiqone-plugin-db-postgresql $@
fi

